<html ng-app="myApp" lang='en'>
  <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
     	<title>Video Contest</title>
     	
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.js"></script>

       <!-- Angular Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-aria.min.js"></script>


    <!-- Angular Material Javascript now available via Google CDN; version 0.11.2 used here -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.js"></script>
      
      <!-- Angular Material CSS now available via Google CDN; version 0.11.2 used here -->
      <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.css">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
      
      <!-- My CSS -->
      <link rel="stylesheet" href="../css/main.css">

  </head>
  <body layout="column" ng-controller="mainController"> 
  	<h1>Welcome to the Video Contest App</h1>

    

    <div layout='row' class='submission-wrapper'>
          
          <div layout='column' flex='100' class='submission-area'>

                 <form layout='column' class='submission-form' ng-submit='newSubmission()' ng-show='formVisible'>

                          
                          <div layout='row'>
                                <md-input-container flex='25'>
                                <label>Name</label>
                                <input ng-model='videoSubmission.name'>
                                </md-input-container>

                                <md-input-container flex='75'>
                                <label>Video URL</label>
                                <input ng-model='videoSubmission.url'>
                                </md-input-container>

                               
                          </div>
                          
                          <div layout='row'>
                                <md-input-container flex='25'>
                                <label>Video Title</label>
                                <input ng-model='videoSubmission.title'>
                                </md-input-container>

                                <md-input-container flex='75'>
                                <label>Description</label>
                                <textarea ng-model='videoSubmission.description' columns="1"></textarea>
                                </md-input-container>
                          </div>

                          
                          <input type='submit'>
                      
                  </form> <!-- submission-form -->


                  <div ng-hide='formVisible' class='SubmissionEndMessage'>
                        The submission is Over. Please start the contest!
                        <button ng-click='startContest()'> Start </button>
                  </div>

                  <div layout='row' flex='100' class='videoPreview'>


                         <div flex='10' ng-repeat='(index, video) in videoList'>
                              <md-card>
                                    <iframe width="96" height="54" ng-src="{{trustSrc(video.url)}}" frameborder="0" allowfullscreen></iframe>
                              </md-card>
                        </div>
                  </div>

          </div> <!-- submission-area' -->
    </div> <!-- submission-wrapper -->
  	
    <div layout='row' layout-wrap class='contest-area' ng-show='contestVisible' ng-flock>

          <div layout='row' layout-align="center center" flex='25' ng-repeat='(pairIndex, pair) in contestArray' class='contest-pair'>
                    <md-card ng-repeat='(videoIndex, video) in pair'>
                          <iframe width="96" height="54" ng-src="{{trustSrc(video.url)}}" frameborder="0" allowfullscreen></iframe>
                          <div class="md-actions" layout="row" layout-align="center center">
                              <form ng-submit='vote(pairIndex, videoIndex)'>
                              <md-button type='submit'>Vote</md-button>
                              </form>
                              <div>
                              {{video.voteCount}}
                              </div>
                          </div>
                    </md-card>
          </div>
    
    </div> <!-- Contest Area -->





<!-- Script Area  -->
<!-- Script Area  -->
<!-- Script Area  -->
<!-- Script Area  -->
<!-- Script Area  -->
    
    <!-- My Angular App -->
    <script type="text/javascript" src="../js/main.js"></script> 
    
  </body>

</html>